fastapi
uvicorn
sqlalchemy
python-telegram-bot
google-generativeai
python-multipart
psycopg2-binary
async-lru
huggingface-hub
httpx
python-magic
pywebpush
Pillow
firebase-functions
firebase-admin
a2wsgi
scikit-learn
numpy
